.team-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.headshot {
  float: left;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
}

.member-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
